/* Write your CSS here */

.last-match {
  display: flex;
  background-color: #0f172a;
  color: white;
  margin: 16px;
  padding: 16px;
}

.prev-match-container {
  display: flex;
  flex-wrap: wrap;
}
